.corpo {
	clear: both;
	float: left;
	width: 100%;
	padding: 10px;
}
.corpo .grupo {
	float: left;
	width: 20%;
	text-align: center;
}
.corpo .campos {
	float: left;
	width: 80%;
}
.corpo .btn-sub {
	float: right;
	margin-top: 25px;
	margin-right: 20px;
		background-color: #205493;
	border-color: #163b68;
	font: helvetica;
	color: #ffffff;
}
.corpo .btn-res {
	float: right;
	margin-top: 25px;
	margin-right: 10px;
		background-color: #205493;
	border-color: #163b68;
	font: helvetica;
	color: #ffffff;
}
.corpo .campos .cmp-text {
	float: left;
	width: 50%;
}
